# .env file for idp Authentik

AUTHENTIK_APP_NAME=my-vm1-federated-app
AUTHENTIK_APP_SLUG=vm1-federated-app
AUTHENTIK_PROVIDER_NAME=vm1-federated-provider
AUTHENTIK_REDIRECT_URIS=https://ocean-node-vm2.oceanenterprise.io:8443/source/oauth/callback/vm1-partner-source/,https://market-git-feat-stage-ocean-enterprise.vercel.app/auth/login,https://market-git-feat-stage-ocean-enterprise.vercel.app/auth/callback/logout
AUTHENTIK_LOGOUT_URI=https://market-git-feat-stage-ocean-enterprise.vercel.app/auth/callback/logout
AUTHENTIK_OUTPUT_FILE=idp_authentik-blueprint.yaml
AUTHENTIK_ADMIN_EMAIL=admin@example.com
AUTHENTIK_BASE_URL=<your-authentik-instance-url>



# main oidc authentik .env file

# AUTHENTIK_APP_NAME=main-oidc-app
# AUTHENTIK_APP_SLUG=main-oidc-app
# AUTHENTIK_PROVIDER_NAME=main-oidc-provider
# AUTHENTIK_REDIRECT_URIS=https://market-git-feat-stage-ocean-enterprise.vercel.app/auth/callback,https://market-git-feat-stage-ocean-enterprise.vercel.app/auth/login,https://app.dfns.io/sso,https://app.dfns.io/login,https://market-git-feat-stage-ocean-enterprise.vercel.app/api/dfns/complete-sso,https://wallet-dev-stage.oceanenterprise.io/api/dfns/complete-sso,https://wallet-dev-stage.oceanenterprise.io/auth/login,https://wallet-dev-stage.oceanenterprise.io/auth/callback,https://wallet-dev-stage.oceanenterprise.io
# AUTHENTIK_LOGOUT_URI=https://market-git-feat-stage-ocean-enterprise.vercel.app/auth/login
# AUTHENTIK_ADMIN_EMAIL=admin@example.com
# AUTHENTIK_BASE_URL=<your-authentik-instance-url>
# AUTHENTIK_OUTPUT_FILE=main-authentik-blueprint.yaml



# output envs for authentik blueprint
# AUTHENTIK_AUDIENCE=
# AUTHENTIK_CLIENT_SECRET=
# AUTHENTIK_JWKS_URI=
# AUTHENTIK_ISSUER=


