node_modules/
dist/
build/
.venv/
docker-compose/openbao/secrets/private_keys
dataspace-operator/docker-compose/authentik/.env.authentik
dataspace-operator/docker-compose/openbao/.env.openbao
dataspace-operator/docker-compose/postgres-init/.env.postgres
dataspace-operator/docker-compose/signer-server/.env.signer-server
dataspace-operator/docker-compose/traefik/.env.traefik
dataspace-operator/docker-compose/wallet-api/.env.wallet-api
dataspace-operator/docker-compose/wallet-ui/.env.wallet-ui
participant/docker-compose/authentik/.env.authentik
participant/docker-compose/openbao/.env.openbao
participant/docker-compose/postgres-init/.env.postgres
participant/docker-compose/signer-server/.env.signer-server
participant/docker-compose/traefik/.env.traefik
participant/docker-compose/wallet-api/.env.wallet-api
participant/docker-compose/wallet-ui/.env.wallet-ui
